Scrapping du site France Travail pour les offres de data

on récupère d'abord le nombre d'offres pour les jobs dans la data

In [164]:
import re
import time
import random
import requests
from bs4 import BeautifulSoup
import pandas as pd
from datetime import datetime, timedelta
import sqlite3

def get_nombre_offres():
    headers = {
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
    }
    url='https://candidat.francetravail.fr/offres/recherche?motsCles=data&offresPartenaires=true&rayon=10&tri=0'

    response = requests.get(url, headers=headers)

    if response.status_code == 200:
        soup = BeautifulSoup(response.text, 'html.parser') 
        h1_element = soup.find('h1', class_='title')
        # Extraire le texte de la balise <h1>
        h1_text = h1_element.get_text()
        # Utiliser une expression régulière pour extraire le nombre
        nombre_offres = re.search(r'\d+', h1_text).group()   
        # Retourner le nombre d'offres
        print (nombre_offres)
        return int(nombre_offres)
    else:
        print("Erreur lors de la récupération de la page : HTTP", response.status_code)
        return None

La fonction buildurl va permettre de modifier l'url en fonction du nombre d'offres

In [165]:
def build_url(limite_basse, limite_haute,recherche='data',partenaires="true",):
  
  
    base_url = "https://candidat.francetravail.fr/offres/recherche"
    params = {
      "motsCles": recherche,
      "offresPartenaires": partenaires,
      "range": f"{limite_basse}-{limite_haute}",
      "rayon": 10,
      "tri": 0
    }
    url = base_url + "?" + "&".join(f"{key}={value}" for key, value in params.items())
    return url

la fonction fetch job offer initie la connexion

In [166]:
def fetch_job_offers(url, headers):
    response = requests.get(url, headers=headers)
    if response.status_code == 200:
        return response.text
    else:
        print(f"Error fetching job offers: HTTP {response.status_code}")
        return None

parse job details va extraire les blocs de code html intéressants
extract job va extraire les infos des offres d'emploi

In [167]:
def parse_job_details(html_content):
    soup = BeautifulSoup(html_content, 'html.parser')
    job_sections = soup.find_all('h2', class_='t4 media-heading')
    job_data = []
    for job_section in job_sections:
        job_details = extract_job_information(job_section)
        if job_details:
            job_data.append(job_details)
    return job_data

def extract_job_information(job_section):
  
    title = job_section.find('span', class_='media-heading-title').get_text(strip=True)
    subtext = job_section.find_next_sibling('p', class_='subtext')
    company = subtext.get_text(strip=True) if subtext else 'Information non disponible'
    location = subtext.find('span').get_text(strip=True) if subtext and subtext.find('span') else 'Lieu non disponible'
    description = job_section.find_next_sibling('p', class_='description').get_text(strip=True)
    contract = job_section.find_next_sibling('p', class_='contrat').get_text(strip=True)
    date_posted = job_section.find_next_sibling('p', class_='date').get_text(strip=True)     
    return {
          'poste': title,
          'entreprise': company,
          'lieu': location,
          'description': description,
          'contrat': contract,
          'date_publication': date_posted
      }

getoffres permet de récuperer les offres sur une page

In [168]:
def get_offres(limite_basse, limite_haute, job_list):
    url = build_url(limite_basse, limite_haute)
    headers = {
      'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.3'
    }
    html_content = fetch_job_offers(url, headers)
    if html_content:
        job_data = parse_job_details(html_content)
        job_list.extend(job_data)
    return job_list# Use extend to add elements to an existing list    return job_list
#liste=[]
#jobs=get_offres(0,20,liste)
#df=pd.DataFrame(jobs)

la fonction scrapFT sert à scrapper toutes les offres, le time sleep est généré entre 1 et 5 secondes pour simuler un comportement humain . La fonction retourne un dataframe

In [169]:
def scrap_FT():
    job_list=[]
    nb_max=get_nombre_offres()
    nb_max=41
    for i in range(0,nb_max,20):
        delai_attente = random.randint(1, 5)
        #time.sleep(delai_attente)
        get_offres(i, min(i+20, nb_max), job_list)
        
    if nb_max % 20 != 0:
        get_offres(nb_max-nb_max%20,nb_max,job_list)

    return pd.DataFrame(job_list)
    
df=scrap_FT()
print(df)

3583
                                                poste  \
0                                  Data Analyst (h/f)
1                         Consultant Offre/Data (H/F)
2                  DBA DEVELOPPEUR SQL BIG DATA (H/F)
3                                  Data manager (F/H)
4                                Tech Lead Data (H/F)
5                                Tech Lead Data (H/F)
6                                Tech Lead Data (H/F)
7                                Tech Lead Data (H/F)
8                   Consultant Data BI Confirmé (H/F)
9                   Consultant Data BI Confirmé (H/F)
10                  Consultant Data BI Confirmé (H/F)
11                  Consultant Data BI Confirmé (H/F)
12         Consultant Microsoft BI / Azure Data (H/F)
13                                       Data analyst
14                                       Data analyst
15            Chef de projet Data Analyse REIMS (H/F)
16            Chef de projet Data Analyse NANCY (H/F)
17       Chef de projet Data Analyse STRASBOURG (H/F)
18                             Data Analyst H/F (H/F)
19                                Data Engineer (H/F)
20             Chef de projet/ Data Gouvernance (H/F)
21             Chef de projet/ Data Gouvernance (H/F)
22  Contrôleur de gestion sociale / analyste data ...
23                               Ingenieur data (H/F)
24                                  Data Engineer H/F
25                    Consultant Progiciel Data (H/F)
26                           Chief Data Officer (H/F)
27                                 Data manager (H/F)
28                       Ingénieur IA et Big Data h/f
29                 Gestionnaire Master Data F/H (H/F)
30                                       Data analyst
31       Data Analyst « SAS, BOARD et Dataviz » (H/F)
32  Intégrateur / Intégratrice d'application DATA ...
33              Responsable Data Clients et CRM (H/F)
34  TALENTUEUX CONSULTANT BI / BIG DATA - LILLE - ...
35                     RECHERCHE DATA MANAGER - (H/F)
36                           Data Scientist H/F (H/F)
37  Technicien Data Center en environnement critiq...
38                        Data Scientist Senior (H/F)
39              Chargé(e) de Data marketing H/F (H/F)
40  Architecte Cloud & Data Paris/Ile-de-France H/...
41                                Data analyste (H/F)
42                                Data analyste (H/F)
43                                     Data scientist
44                                Data analyste (H/F)
45                                     Data scientist

                                           entreprise                    lieu  \
0                              IZIWORK\n -64 - BORDES             64 - BORDES
1                                        69 - LYON 07            69 - LYON 07
2           INFORMATIS TECHNOLOGY SYSTM\n -78 - LIMAY              78 - LIMAY
3                       RANDSTAD\n -13 - MARSEILLE 16       13 - MARSEILLE 16
4         THELIO MEDITERRANEE\n -13 - AIX EN PROVENCE    13 - AIX EN PROVENCE
5         THELIO MEDITERRANEE\n -13 - AIX EN PROVENCE    13 - AIX EN PROVENCE
6                              THELIO\n -69 - LYON 02            69 - LYON 02
7                               THELIO\n -33 - BEGLES             33 - BEGLES
8                             THELIO\n -31 - TOULOUSE           31 - TOULOUSE
9         THELIO MEDITERRANEE\n -13 - AIX EN PROVENCE    13 - AIX EN PROVENCE
10                             THELIO\n -69 - LYON 02            69 - LYON 02
11                              THELIO\n -33 - BEGLES             33 - BEGLES
12                   ACT MOTION\n -75 - Paris (Dept.)      75 - Paris (Dept.)
13                            ABALON\n -Ile-de-France           Ile-de-France
14                            ABALON\n -Ile-de-France           Ile-de-France
15    GROUPEMENT D'INTERET PUBLIC PULSY\n -51 - REIMS              51 - REIMS
16    GROUPEMENT D'INTERET PUBLIC PULSY\n -54 - NANCY              54 - NANCY
17  GROUPEMENT D'INTERET PUBLIC PULSY\n -67 - STRA...         67 - STRASBOURG
18                PREREQUIS\n -92 - NEUILLY SUR SEINE  92 - NEUILLY SUR SEINE
19                        LUCKY CART\n -75 - PARIS 02           75 - PARIS 02
20                                      75 - PARIS 13           75 - PARIS 13
21                                      75 - PARIS 13           75 - PARIS 13
22                                        35 - RENNES             35 - RENNES
23                              PROMAN\n -64 - BORDES             64 - BORDES
24  Stand Dassault Aviation Merignac\n -33 - MERIGNAC           33 - MERIGNAC
25                                 SIB\n -35 - RENNES             35 - RENNES
26           CAPACTUEL TRAVAIL TEMPORAIRE\n -64 - PAU                64 - PAU
27  REDECA MAYOTTE (DEPISTAGE ORGANISE DES C\n -97...         976 - MAMOUDZOU
28  INSTITUT FRANCAIS DE RECHERCHE POUR L EX\n -29...              29 - BREST
29                       BRENNTAG SA\n -69 - CHASSIEU           69 - CHASSIEU
30                                      33 - BORDEAUX           33 - BORDEAUX
31  TECHNOLOGIE CONCEPTION OPEN\n -75 - Paris (Dept.)      75 - Paris (Dept.)
32                             SAMSE\n -38 - GRENOBLE           38 - GRENOBLE
33               CENTRE BUS BELLIARD\n -75 - PARIS 12           75 - PARIS 12
34                        NEXT DECISION\n -59 - LILLE              59 - LILLE
35            NEXT DECISION\n -44 - ANCENIS ST GEREON  44 - ANCENIS ST GEREON
36  SNCF GARE DE ST DENIS STADE DE FRANCE\n -93 - ...           93 - ST DENIS
37                 DATA 4 SERVICES\n -91 - MARCOUSSIS         91 - MARCOUSSIS
38                                      31 - TOULOUSE           31 - TOULOUSE
39                 LA BOITE A OUTILS\n -38 - GRENOBLE           38 - GRENOBLE
40          JEMS DATAFACTORY\n -92 - LEVALLOIS PERRET   92 - LEVALLOIS PERRET
41             MANPOWER FRANCE\n -69 - ST GENIS LAVAL     69 - ST GENIS LAVAL
42             MANPOWER FRANCE\n -69 - ST GENIS LAVAL     69 - ST GENIS LAVAL
43     NIELSENIQ SERVICES FRANCE SAS\n -75 - PARIS 10           75 - PARIS 10
44             MANPOWER FRANCE\n -69 - ST GENIS LAVAL     69 - ST GENIS LAVAL
45     NIELSENIQ SERVICES FRANCE SAS\n -75 - PARIS 10           75 - PARIS 10

                                          description  \
0   Notre client SAFRNA HELICOPTER ENGINES recherc...
1   Editeur de logiciel qui propose une plateforme...
2   Dans le cadre d'un projet d'envergure avec un ...
3   Rejoignez une aventure professionnelle excepti...
4   Vous maîtrisez aujourd'hui l'entièreté du trai...
5   Vous maîtrisez aujourd'hui l'entièreté du trai...
6   Vous maîtrisez aujourd'hui l'entièreté du trai...
7   Vous maîtrisez aujourd'hui l'entièreté du trai...
8   Selon vos expériences, vous êtes autonome à mi...
9   Selon vos expériences, vous êtes autonome à mi...
10  Selon vos expériences, vous êtes autonome à mi...
11  Selon vos expériences, vous êtes autonome à mi...
12  TON RÔLE \nGlobalement, nous comptons sur toi ...
13  ABALON recherche un(e) Data Analyste pour rejo...
14  ABALON recherche un(e) Data Analyste pour rejo...
15  Le data analyst valorise l'ensemble des donnée...
16  Le data analyst valorise l'ensemble des donnée...
17  Le data analyst valorise l'ensemble des donnée...
18  Vous avez un profil de Data Analyst (H/F) ?\n\...
19  Descriptif du poste\n\nLa forte croissance que...
20  Expert de l'informatique KAN CS apporte à ses ...
21  Expert de l'informatique KAN CS apporte à ses ...
22  Rejoignez un groupe international sur un poste...
23  Le poste :\nVotre agence PROMAN PAU recherche,...
24  La Direction du Système d'Information assure l...
25  Claire, recherche pour son équipe de Déploieme...
26  Capactuel CONSEIL RH société indépendante bord...
27  CRCDC MAYOTTE, a pour objectif d'assurer la co...
28  Nous sommes à la recherche d'un contrat Alloca...
29  Vous êtes PLUS qu'un simple CV, c'est évident,...
30  Nous recherchons un(e) Data Analyst talentueux...
31  Mon client est la Direction du Contrôle de Ges...
32  Afin de renforcer la mise en place et la maint...
33  Votre rôle sera de:\n\nPiloter la connaissance...
34  TA MISSION :\nRattaché à l'une de nos agences,...
35  LA SOCIÉTÉ :\nNext Decision, c'est quoi ?\n\nU...
36  Vos missions\nActeur/Actrice du changement, vo...
37  Les techniciens DATA CENTER travaillent en équ...
38  Le rôle est de développer, de valider et d'app...
39  Si l'univers de la data et du web marketing av...
40  Nous recherchons un(e) Architecte Expérimenté(...
41  Manpower LYON INFORMATIQUE recherche pour son ...
42  Manpower LYON INFORMATIQUE recherche pour son ...
43  Le développement très rapide du e-commerce don...
44  Manpower LYON INFORMATIQUE recherche pour son ...
45  Le développement très rapide du e-commerce don...

                    contrat       date_publication
0   Intérim\n - Temps plein     Publié aujourd'hui
1       CDD\n - Temps plein     Publié aujourd'hui
2       CDI\n - Temps plein     Publié aujourd'hui
3       CDI\n - Temps plein     Publié aujourd'hui
4       CDI\n - Temps plein     Publié aujourd'hui
5       CDI\n - Temps plein     Publié aujourd'hui
6       CDI\n - Temps plein     Publié aujourd'hui
7       CDI\n - Temps plein     Publié aujourd'hui
8       CDI\n - Temps plein     Publié aujourd'hui
9       CDI\n - Temps plein     Publié aujourd'hui
10      CDI\n - Temps plein     Publié aujourd'hui
11      CDI\n - Temps plein     Publié aujourd'hui
12      CDI\n - Temps plein            Publié hier
13      CDI\n - Temps plein            Publié hier
14      CDI\n - Temps plein            Publié hier
15      CDI\n - Temps plein            Publié hier
16      CDI\n - Temps plein            Publié hier
17      CDI\n - Temps plein            Publié hier
18      CDI\n - Temps plein            Publié hier
19      CDI\n - Temps plein            Publié hier
20      CDD\n - Temps plein            Publié hier
21      CDD\n - Temps plein            Publié hier
22      CDI\n - Temps plein            Publié hier
23  Intérim\n - Temps plein            Publié hier
24      CDI\n - Temps plein            Publié hier
25      CDI\n - Temps plein            Publié hier
26      CDI\n - Temps plein            Publié hier
27      CDI\n - Temps plein            Publié hier
28      CDD\n - Temps plein            Publié hier
29      CDD\n - Temps plein  Publié il y a 2 jours
30      CDI\n - Temps plein  Publié il y a 2 jours
31      CDI\n - Temps plein  Publié il y a 2 jours
32      CDI\n - Temps plein  Publié il y a 2 jours
33      CDI\n - Temps plein  Publié il y a 2 jours
34      CDI\n - Temps plein  Publié il y a 2 jours
35      CDI\n - Temps plein  Publié il y a 2 jours
36      CDI\n - Temps plein  Publié il y a 5 jours
37      CDI\n - Temps plein  Publié il y a 5 jours
38      CDI\n - Temps plein  Publié il y a 5 jours
39      CDI\n - Temps plein  Publié il y a 6 jours
40      CDI\n - Temps plein  Publié il y a 6 jours
41  Intérim\n - Temps plein  Publié il y a 7 jours
42  Intérim\n - Temps plein  Publié il y a 7 jours
43      CDI\n - Temps plein  Publié il y a 7 jours
44  Intérim\n - Temps plein  Publié il y a 7 jours
45      CDI\n - Temps plein  Publié il y a 7 jours

On nettoie ensuite nos données en utilisant des dates absolues et suppression des caractères indésirables

In [170]:
def nettoyer_entreprise(df):
    # Utilise une expression régulière pour supprimer les caractères précédents et le tiret avant le nombre
    clean_df = df.str.split('\n').str[0]
    return clean_df

def nettoyer_contrat(df):
    # Divise la colonne "Entreprise" en fonction du caractère "\n" et ne conserve que la première partie
    clean_df = df.str.replace('\n','')
    return clean_df

def convert_to_date(duree):
    if "aujourd'hui" in duree:
        return datetime.now().strftime("%Y-%m-%d")
    elif "hier" in duree:
        return (datetime.now() - timedelta(days=1)).strftime("%Y-%m-%d")
    elif "il y a plus de" in duree:
        return (datetime.now() - timedelta(days=31)).strftime("%Y-%m-%d")
    elif "il y a" in duree:
        days_ago = int(duree.split()[4])
        return (datetime.now() - timedelta(days=days_ago)).strftime("%Y-%m-%d")

def nettoyage_total(df):
    df['entreprise'] = nettoyer_entreprise(df['entreprise'])
    df['contrat'] = nettoyer_contrat(df['contrat'])
    df["date_publication"] = df["date_publication"].apply(convert_to_date)
    return df
print(nettoyage_total(df))

                                                poste  \
0                                  Data Analyst (h/f)
1                         Consultant Offre/Data (H/F)
2                  DBA DEVELOPPEUR SQL BIG DATA (H/F)
3                                  Data manager (F/H)
4                                Tech Lead Data (H/F)
5                                Tech Lead Data (H/F)
6                                Tech Lead Data (H/F)
7                                Tech Lead Data (H/F)
8                   Consultant Data BI Confirmé (H/F)
9                   Consultant Data BI Confirmé (H/F)
10                  Consultant Data BI Confirmé (H/F)
11                  Consultant Data BI Confirmé (H/F)
12         Consultant Microsoft BI / Azure Data (H/F)
13                                       Data analyst
14                                       Data analyst
15            Chef de projet Data Analyse REIMS (H/F)
16            Chef de projet Data Analyse NANCY (H/F)
17       Chef de projet Data Analyse STRASBOURG (H/F)
18                             Data Analyst H/F (H/F)
19                                Data Engineer (H/F)
20             Chef de projet/ Data Gouvernance (H/F)
21             Chef de projet/ Data Gouvernance (H/F)
22  Contrôleur de gestion sociale / analyste data ...
23                               Ingenieur data (H/F)
24                                  Data Engineer H/F
25                    Consultant Progiciel Data (H/F)
26                           Chief Data Officer (H/F)
27                                 Data manager (H/F)
28                       Ingénieur IA et Big Data h/f
29                 Gestionnaire Master Data F/H (H/F)
30                                       Data analyst
31       Data Analyst « SAS, BOARD et Dataviz » (H/F)
32  Intégrateur / Intégratrice d'application DATA ...
33              Responsable Data Clients et CRM (H/F)
34  TALENTUEUX CONSULTANT BI / BIG DATA - LILLE - ...
35                     RECHERCHE DATA MANAGER - (H/F)
36                           Data Scientist H/F (H/F)
37  Technicien Data Center en environnement critiq...
38                        Data Scientist Senior (H/F)
39              Chargé(e) de Data marketing H/F (H/F)
40  Architecte Cloud & Data Paris/Ile-de-France H/...
41                                Data analyste (H/F)
42                                Data analyste (H/F)
43                                     Data scientist
44                                Data analyste (H/F)
45                                     Data scientist

                                  entreprise                    lieu  \
0                                    IZIWORK             64 - BORDES
1                               69 - LYON 07            69 - LYON 07
2                INFORMATIS TECHNOLOGY SYSTM              78 - LIMAY
3                                   RANDSTAD       13 - MARSEILLE 16
4                        THELIO MEDITERRANEE    13 - AIX EN PROVENCE
5                        THELIO MEDITERRANEE    13 - AIX EN PROVENCE
6                                     THELIO            69 - LYON 02
7                                     THELIO             33 - BEGLES
8                                     THELIO           31 - TOULOUSE
9                        THELIO MEDITERRANEE    13 - AIX EN PROVENCE
10                                    THELIO            69 - LYON 02
11                                    THELIO             33 - BEGLES
12                                ACT MOTION      75 - Paris (Dept.)
13                                    ABALON           Ile-de-France
14                                    ABALON           Ile-de-France
15         GROUPEMENT D'INTERET PUBLIC PULSY              51 - REIMS
16         GROUPEMENT D'INTERET PUBLIC PULSY              54 - NANCY
17         GROUPEMENT D'INTERET PUBLIC PULSY         67 - STRASBOURG
18                                 PREREQUIS  92 - NEUILLY SUR SEINE
19                                LUCKY CART           75 - PARIS 02
20                             75 - PARIS 13           75 - PARIS 13
21                             75 - PARIS 13           75 - PARIS 13
22                               35 - RENNES             35 - RENNES
23                                    PROMAN             64 - BORDES
24          Stand Dassault Aviation Merignac           33 - MERIGNAC
25                                       SIB             35 - RENNES
26              CAPACTUEL TRAVAIL TEMPORAIRE                64 - PAU
27  REDECA MAYOTTE (DEPISTAGE ORGANISE DES C         976 - MAMOUDZOU
28  INSTITUT FRANCAIS DE RECHERCHE POUR L EX              29 - BREST
29                               BRENNTAG SA           69 - CHASSIEU
30                             33 - BORDEAUX           33 - BORDEAUX
31               TECHNOLOGIE CONCEPTION OPEN      75 - Paris (Dept.)
32                                     SAMSE           38 - GRENOBLE
33                       CENTRE BUS BELLIARD           75 - PARIS 12
34                             NEXT DECISION              59 - LILLE
35                             NEXT DECISION  44 - ANCENIS ST GEREON
36     SNCF GARE DE ST DENIS STADE DE FRANCE           93 - ST DENIS
37                           DATA 4 SERVICES         91 - MARCOUSSIS
38                             31 - TOULOUSE           31 - TOULOUSE
39                         LA BOITE A OUTILS           38 - GRENOBLE
40                          JEMS DATAFACTORY   92 - LEVALLOIS PERRET
41                           MANPOWER FRANCE     69 - ST GENIS LAVAL
42                           MANPOWER FRANCE     69 - ST GENIS LAVAL
43             NIELSENIQ SERVICES FRANCE SAS           75 - PARIS 10
44                           MANPOWER FRANCE     69 - ST GENIS LAVAL
45             NIELSENIQ SERVICES FRANCE SAS           75 - PARIS 10

                                          description                contrat  \
0   Notre client SAFRNA HELICOPTER ENGINES recherc...  Intérim - Temps plein
1   Editeur de logiciel qui propose une plateforme...      CDD - Temps plein
2   Dans le cadre d'un projet d'envergure avec un ...      CDI - Temps plein
3   Rejoignez une aventure professionnelle excepti...      CDI - Temps plein
4   Vous maîtrisez aujourd'hui l'entièreté du trai...      CDI - Temps plein
5   Vous maîtrisez aujourd'hui l'entièreté du trai...      CDI - Temps plein
6   Vous maîtrisez aujourd'hui l'entièreté du trai...      CDI - Temps plein
7   Vous maîtrisez aujourd'hui l'entièreté du trai...      CDI - Temps plein
8   Selon vos expériences, vous êtes autonome à mi...      CDI - Temps plein
9   Selon vos expériences, vous êtes autonome à mi...      CDI - Temps plein
10  Selon vos expériences, vous êtes autonome à mi...      CDI - Temps plein
11  Selon vos expériences, vous êtes autonome à mi...      CDI - Temps plein
12  TON RÔLE \nGlobalement, nous comptons sur toi ...      CDI - Temps plein
13  ABALON recherche un(e) Data Analyste pour rejo...      CDI - Temps plein
14  ABALON recherche un(e) Data Analyste pour rejo...      CDI - Temps plein
15  Le data analyst valorise l'ensemble des donnée...      CDI - Temps plein
16  Le data analyst valorise l'ensemble des donnée...      CDI - Temps plein
17  Le data analyst valorise l'ensemble des donnée...      CDI - Temps plein
18  Vous avez un profil de Data Analyst (H/F) ?\n\...      CDI - Temps plein
19  Descriptif du poste\n\nLa forte croissance que...      CDI - Temps plein
20  Expert de l'informatique KAN CS apporte à ses ...      CDD - Temps plein
21  Expert de l'informatique KAN CS apporte à ses ...      CDD - Temps plein
22  Rejoignez un groupe international sur un poste...      CDI - Temps plein
23  Le poste :\nVotre agence PROMAN PAU recherche,...  Intérim - Temps plein
24  La Direction du Système d'Information assure l...      CDI - Temps plein
25  Claire, recherche pour son équipe de Déploieme...      CDI - Temps plein
26  Capactuel CONSEIL RH société indépendante bord...      CDI - Temps plein
27  CRCDC MAYOTTE, a pour objectif d'assurer la co...      CDI - Temps plein
28  Nous sommes à la recherche d'un contrat Alloca...      CDD - Temps plein
29  Vous êtes PLUS qu'un simple CV, c'est évident,...      CDD - Temps plein
30  Nous recherchons un(e) Data Analyst talentueux...      CDI - Temps plein
31  Mon client est la Direction du Contrôle de Ges...      CDI - Temps plein
32  Afin de renforcer la mise en place et la maint...      CDI - Temps plein
33  Votre rôle sera de:\n\nPiloter la connaissance...      CDI - Temps plein
34  TA MISSION :\nRattaché à l'une de nos agences,...      CDI - Temps plein
35  LA SOCIÉTÉ :\nNext Decision, c'est quoi ?\n\nU...      CDI - Temps plein
36  Vos missions\nActeur/Actrice du changement, vo...      CDI - Temps plein
37  Les techniciens DATA CENTER travaillent en équ...      CDI - Temps plein
38  Le rôle est de développer, de valider et d'app...      CDI - Temps plein
39  Si l'univers de la data et du web marketing av...      CDI - Temps plein
40  Nous recherchons un(e) Architecte Expérimenté(...      CDI - Temps plein
41  Manpower LYON INFORMATIQUE recherche pour son ...  Intérim - Temps plein
42  Manpower LYON INFORMATIQUE recherche pour son ...  Intérim - Temps plein
43  Le développement très rapide du e-commerce don...      CDI - Temps plein
44  Manpower LYON INFORMATIQUE recherche pour son ...  Intérim - Temps plein
45  Le développement très rapide du e-commerce don...      CDI - Temps plein

   date_publication
0        2024-03-13
1        2024-03-13
2        2024-03-13
3        2024-03-13
4        2024-03-13
5        2024-03-13
6        2024-03-13
7        2024-03-13
8        2024-03-13
9        2024-03-13
10       2024-03-13
11       2024-03-13
12       2024-03-12
13       2024-03-12
14       2024-03-12
15       2024-03-12
16       2024-03-12
17       2024-03-12
18       2024-03-12
19       2024-03-12
20       2024-03-12
21       2024-03-12
22       2024-03-12
23       2024-03-12
24       2024-03-12
25       2024-03-12
26       2024-03-12
27       2024-03-12
28       2024-03-12
29       2024-03-11
30       2024-03-11
31       2024-03-11
32       2024-03-11
33       2024-03-11
34       2024-03-11
35       2024-03-11
36       2024-03-08
37       2024-03-08
38       2024-03-08
39       2024-03-07
40       2024-03-07
41       2024-03-06
42       2024-03-06
43       2024-03-06
44       2024-03-06
45       2024-03-06

On peut ensuite exporte les données dans un csv

In [171]:
def export_csv(dataframe, index=True):
    date_str = datetime.today().strftime("%Y-%m-%d-%H_%M")
    nom_fichier=f"france_travail_{date_str}.csv"
    dataframe.to_csv(nom_fichier, index=index)
    return f"exported to {nom_fichier}"

# Exemple d'utilisation
dataframe_to_csv(df)

Conversion du df en bdd

In [172]:
def conversion_df_bdd(df,connection=None):
    if  connection == None:
        connection = sqlite3.connect('ma_base.db')
    cursor = connection.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table' AND name='offres'")
    table_existe = cursor.fetchone() is not None
    if not table_existe:
        cursor.execute("""
      CREATE TABLE offres (
        poste TEXT NOT NULL,
        entreprise TEXT NOT NULL,
        lieu TEXT,
        description TEXT,
        contrat TEXT,
        date_publication TEXT
      )
      """)
    try:
        data_to_insert = df[['poste', 'entreprise', 'lieu', 'description', 'contrat', 'date_publication']]
        data_to_insert.to_sql('offres', connection, if_exists='append', index=False)
        
        connection.commit()
        connection.close()
    except Exception as e:
        print(f"Une erreur est survenue lors de l'insertion des données : {e}")
    
conversion_df_bdd(df)

In [173]:
connection = sqlite3.connect('ma_base.db')

# Exécuter une requête SQL pour sélectionner toutes les lignes de la table "offres"
df_from_sql = pd.read_sql_query("SELECT * FROM offres", connection)

# Afficher le DataFrame contenant les données de la table "offres"
print(df_from_sql)

# Fermer la connexion à la base de données
connection.close()

                                          poste  \
0    Consultant Microsoft BI / Azure Data (H/F)
1                                  Data analyst
2                                  Data analyst
3       Chef de projet Data Analyse REIMS (H/F)
4       Chef de projet Data Analyse NANCY (H/F)
..                                          ...
110                         Data analyste (H/F)
111                         Data analyste (H/F)
112                              Data scientist
113                         Data analyste (H/F)
114                              Data scientist

                            entreprise                 lieu  \
0                           ACT MOTION   75 - Paris (Dept.)
1                               ABALON        Ile-de-France
2                               ABALON        Ile-de-France
3    GROUPEMENT D'INTERET PUBLIC PULSY           51 - REIMS
4    GROUPEMENT D'INTERET PUBLIC PULSY           54 - NANCY
..                                 ...                  ...
110                    MANPOWER FRANCE  69 - ST GENIS LAVAL
111                    MANPOWER FRANCE  69 - ST GENIS LAVAL
112      NIELSENIQ SERVICES FRANCE SAS        75 - PARIS 10
113                    MANPOWER FRANCE  69 - ST GENIS LAVAL
114      NIELSENIQ SERVICES FRANCE SAS        75 - PARIS 10

                                           description                contrat  \
0    TON RÔLE \nGlobalement, nous comptons sur toi ...      CDI - Temps plein
1    ABALON recherche un(e) Data Analyste pour rejo...      CDI - Temps plein
2    ABALON recherche un(e) Data Analyste pour rejo...      CDI - Temps plein
3    Le data analyst valorise l'ensemble des donnée...      CDI - Temps plein
4    Le data analyst valorise l'ensemble des donnée...      CDI - Temps plein
..                                                 ...                    ...
110  Manpower LYON INFORMATIQUE recherche pour son ...  Intérim - Temps plein
111  Manpower LYON INFORMATIQUE recherche pour son ...  Intérim - Temps plein
112  Le développement très rapide du e-commerce don...      CDI - Temps plein
113  Manpower LYON INFORMATIQUE recherche pour son ...  Intérim - Temps plein
114  Le développement très rapide du e-commerce don...      CDI - Temps plein

    date_publication
0         2024-03-12
1         2024-03-12
2         2024-03-12
3         2024-03-12
4         2024-03-12
..               ...
110       2024-03-06
111       2024-03-06
112       2024-03-06
113       2024-03-06
114       2024-03-06

[115 rows x 6 columns]